.que-hacemos
    article
        h3
            font-size: 23px
    .container
        .row
            div
                div
                    display: flex
                    justify-content: center
                    align-items: center
                    flex-direction: column
                    text-align: center
                    border: 1px solid $b                                        
                    height: 230px
                    transition: .5s all ease
                    padding: 10px 20px
                    &:hover
                        background: $b
                        color: $w
                    span
                        text-align: center
                        font-size: 40px
                    h3
                        font-size: 18px
.acerca
    .container
        .row
            div
                display: flex
                justify-content: center
                align-items: flex-start
                flex-direction: column
                span
                    font-size: 18px
                h2
                    font-size: 28px
                p
                    font-size: 20px
