.carrito
    .container
        .row
            div
                .woocommerce
                    form[name="checkout"]
                        div#customer_details
                            div
                                .woocommerce-billing-fields
                                    .woocommerce-billing-fields__field-wrapper
                                        display: flex
                                        flex-wrap: wrap
                                        justify-content: space-around
                                        p
                                            display: flex
                                            justify-content: flex-end
                                            flex-direction: column
                                            width: 40%
                                .woocommerce-shipping-fields
                                    //
@media screen and (max-width: 767px)
    .carrito .container .row div .woocommerce form[name=checkout] div#customer_details div .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p
        width: 100%
                                            