.side-bar-container    
    list-style-type: none
    .widget_search
        form
            div
                input[type="submit"]
                    background: $w
                    border: none
                    color: $b
                    border: 2px solid $b
                    @include transitionsease(.5s, all, ease)
                    &:hover
                        background: $b
                        color: $w
                        border: 2px solid $b
    .widget_recent_entries , .widget_categories
        border: 1px solid #999
        border-radius: 10px
        padding: 15px 20px
        margin: 20px 0px
        box-shadow: 0px 0px 10px rgba(0,0,0,0.25)
        background: $b
        h4
            color: $w
        ul
            list-style-type: none
            padding: 0
            margin: 0
            li
                a
                    color: $w

