$b: #000
$w: #fff
$r: #D2232A
@import './mixins'
img
    width: 100%
body,html
    height: 100%
    margin: 0px
.onsale
    background: $r!important
a.button
    background: $b!important
    color: $w!important
    margin: 10px auto!important
    display: block!important
    width: 80%
    text-align: center
.woocommerce-loop-product__title
    text-align: center
    font-size: 30px
.price
    text-align: center
a
    text-decoration: none
    color: $b
//
a.btn-primary-theme
    @include buttonHover(150px ,$w, $b, 15px 30px, 50px, 5px, .5s all ease)