@import '../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import 'general/colors'
@import 'modules/header'
body
    header
        width: 100%
        background: #f2f2f2
        padding: 1rem 0
        box-shadow: 0px 0px 20px rgba(0,0,0,0.25)
        .container
            img
                max-width: 150px
            .menu-top-menu-container
                .menu
                    list-style-type: none
    .hero
        width: 100%
        height: 400px
        background: url('images/b.jpg')
    .content
        width: 100%
        height: 200px
